.Customers {
  height: calc(100% - 54px);
  padding: 20px;
  .customers-container {
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    min-height: 100%;
    padding: 16px !important;
    overflow: auto;
  }
}